{
    "channel": "$INPUT_CHANNEL",
    "text": "$INPUT_TEXT",
    "as_user": false,
    "icon_emoji": "$INPUT_ICON_EMOJI",
    "icon_url": "$INPUT_ICON_URL",
    "link_names": true,
    "username": "$INPUT_USERNAME"
}
